<footer class="text-center" style="padding-top:15px;">
    <%= link_to 'About', about_index_path %>
    <%= link_to 'Edit', edit_user_registration_path %>
    <%= link_to 'New post', new_post_path %>
    <a href="http://venturads.com" alt="Web Developer, Ruby on Rails and Product Design" target="_blank">&copy; Ventura Design 2017</a>
</footer>